@model FleeteInvoicing.Models.UNIVERSAL_COLLECTION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UNIVERSAL_COLLECTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uc_fleet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uc_fleet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uc_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uc_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uc_clabe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uc_clabe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uc_aba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uc_aba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uc_swift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uc_swift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uc_currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uc_currency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_universal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
