@Styles.Render("~/MaterialDesign/plugins/sweetalert/sweetalert.css")
@Styles.Render("~/MaterialDesign/plugins/bootstrap-select/css/bootstrap-select.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@model FleeteInvoicing.Entities.Expanded
@{
    IEnumerable<FleeteInvoicing.Models.CFD_EXPANDED_ADDRESS> customers = TempData["Customers"] as IEnumerable<FleeteInvoicing.Models.CFD_EXPANDED_ADDRESS>;
    List<FleeteInvoicing.Models.CAT_PAYMENTMETHODTYPE> paymentlist = ViewBag.ListPayment;
}
<style type="text/css">
    #layoutFleet {
        margin-left: 0%;
    }
</style>

<div align="left">
    <div id="vmProvider" class="container-fluid">
        <div class="block-header">
            <h2><b>Catálogo de Clientes</b></h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            @Html.ActionLink("Crear Cliente", "#", null, new { data_toggle = "modal", data_target = "#modProviderNew" })
                        </h2>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "CFD_Expanded", FormMethod.Post, new { role = "form" })) { }
                    </div>
                    <div class="body">
                        <div id="area_tabla">
                            <table id="grdProvider" role="grid" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                    <tr style="background-color:#757575;color:#fff;" role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" style="width: 150px;">#FLOTA</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" style="width: 300px;">#CLIENTE</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:70px;">RFC</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:180px;">DIRECCION 1</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:180px;">DIRECCION 2</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:180px;">DIRECCION 3</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:100px;">CIUDAD</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:60px;">ESTADO</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:60px;">CODIGO POSTAL</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:30px;">METODO DE PAGO</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width:450px;">ADMINISTRACION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach (var item in customers)
                                   {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CUSTID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CUSTNAME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RFC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ADDRESS1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ADDRESS2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ADDRESS3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CITY)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.STATE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ZIP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => paymentlist.Where(x => x.paymentMethodTypeCode == item.PAYMENT_METHOD_TYPE).FirstOrDefault().paymentMethodTypeCode) -
                                            @Html.DisplayFor(modelItem => paymentlist.Where(x => x.paymentMethodTypeCode == item.PAYMENT_METHOD_TYPE).FirstOrDefault().paymentMethodDesc)
                                        </td>
                                        <td>
                                            @{
                                                <button type="button" data-color="white" class="btn bg-blue-grey waves-effect" onclick='EditCustomer("@Html.DisplayFor(modelItem => item.CUSTID)")'>Editar</button>
                                            }

                                            @{
                                                <button type="button" data-color="red" class="btn bg-red" onclick='DeleteCustomer("@Html.DisplayFor(modelItem => item.CUSTID )")'>Eliminar</button>
                                            }

                                        </td>
                                    </tr>
                                  }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--POP UP CREATE CUSTOMER-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="modal fade" id="modProviderNew" tabindex="-1" role="dialog" style="padding-right: 17px;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="card">
                        <div class="header">
                            <h4 class="modal-title" id="largeModalLabel">Creación de clientes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-col-blue-grey">
                                    <div class="panel-heading" role="tab" id="headingOne_1">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                                <i class="fa fa-money fa-2x" aria-hidden="true"></i>&nbsp;&nbsp; Alta - Clientes
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                        @using (Html.BeginForm("Create", "CFD_Expanded", FormMethod.Post, new { role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="text-danger">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-11">
                                                    <div class="input-group input-group-lg">

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.CUSTID, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.CUSTID, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.CUSTID, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.CUSTNAME, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.CUSTNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.CUSTNAME, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.ADDRESS1, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.ADDRESS1, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.ADDRESS1, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.ADDRESS2, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.ADDRESS2, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.ADDRESS2, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.ADDRESS3, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.ADDRESS3, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.ADDRESS3, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.CITY, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.CITY, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.STATE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.STATE, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.STATE, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.ZIP, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="form-line">
                                                                    @Html.EditorFor(model => model.ZIP, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.ZIP, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                         <div class="input-group input-group-lg">
                                                            @Html.LabelFor(model => model.PAYMENT_METHOD_TYPE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-sm-9">
                                                                <div class="col-md-9">
                                                                    @Html.DropDownListFor(model => model.PAYMENT_METHOD_TYPE, new SelectList(paymentlist, "paymentMethodTypeCode", "paymentMethodDesc"), new { @class = "form-control show-tick", id = "PAYMENT_METHOD_TYPE_C", data_live_search = "true", required = "required" })
                                                                    @Html.ValidationMessageFor(model => model.PAYMENT_METHOD_TYPE, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Guardar" class="btn bg-green waves-effect m-r-20" data-toggle="tooltip" data-placement="bottom" title="Inserta registro.." />
                                                <button type="button" class="btn btn-danger waves-effect m-r-20" data-toggle="tooltip" title="Cierra modal" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--# CLOSE POP UP NEW CUSTOMER-->

    <!--POP UP EDIT-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="modal fade" id="modclientes" tabindex="-1" role="dialog" style="padding-right: 17px;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="card">
                        <div class="header">
                            <h4 class="modal-title" id="largeModalLabel">Editar Clientes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-col-blue-grey">
                                    <div class="panel-heading" role="tab" id="headingOne_1">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                                <i class="fa fa-address-card fa-2x" aria-hidden="true"></i>&nbsp;&nbsp; Editar - Cliente
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                        @using (Html.BeginForm("Edit", "CFD_Expanded", FormMethod.Post, new { role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="text-danger">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <br />

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CUSTID, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CUSTID, new { htmlAttributes = new { @class = "form-control", id = "CUSTID_M", disabled = "disabled" } })
                                                                @Html.ValidationMessageFor(model => model.CUSTID, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CUSTNAME, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CUSTNAME, new { htmlAttributes = new { @class = "form-control", id = "CUSTNAME_M" } })
                                                                @Html.ValidationMessageFor(model => model.CUSTNAME, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control", id = "RFC_M", maxlength = "15" } })
                                                                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CORP_CD, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CORP_CD, new { htmlAttributes = new { @class = "form-control", id = "CORP_CD_M", maxlength = "2" } })
                                                                @Html.ValidationMessageFor(model => model.CORP_CD, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CNTC_NO, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CNTC_NO, new { htmlAttributes = new { @class = "form-control", id = "CNTC_NO_M", maxlength = "4" } })
                                                                @Html.ValidationMessageFor(model => model.CNTC_NO, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ADDRESS1, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ADDRESS1, new { htmlAttributes = new { @class = "form-control", id = "ADDRESS1_M" } })
                                                                @Html.ValidationMessageFor(model => model.ADDRESS1, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ADDRESS2, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ADDRESS2, new { htmlAttributes = new { @class = "form-control", id = "ADDRESS2_M" } })
                                                                @Html.ValidationMessageFor(model => model.ADDRESS2, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ADDRESS3, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ADDRESS3, new { htmlAttributes = new { @class = "form-control", id = "ADDRESS3_M" } })
                                                                @Html.ValidationMessageFor(model => model.ADDRESS3, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CITY, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CITY, new { htmlAttributes = new { @class = "form-control", id = "CITY_M" } })
                                                                @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.STATE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.STATE, new { htmlAttributes = new { @class = "form-control", id = "STATE_M" } })
                                                                @Html.ValidationMessageFor(model => model.STATE, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ZIP, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ZIP, new { htmlAttributes = new { @class = "form-control", id = "ZIP_M" } })
                                                                @Html.ValidationMessageFor(model => model.ZIP, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.PAYMENT_METHOD_TYPE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.DropDownListFor(model => model.PAYMENT_METHOD_TYPE, new SelectList(paymentlist, "paymentMethodTypeCode", "paymentMethodDesc"), new { @class = "form-control show-tick", id = "PAYMENT_METHOD_TYPE_M", data_live_search = "true", required = "required" })
                                                                @Html.ValidationMessageFor(model => model.PAYMENT_METHOD_TYPE, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Guardar" class="btn bg-green waves-effect m-r-20" data-toggle="tooltip" data-placement="bottom" title="Guardar el registro.." />
                                                <button type="button" class="btn btn-danger waves-effect m-r-20" data-toggle="tooltip" title="Cierra modal" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#POP UP EDIT-->

    <!--POP UP DELETE-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="modal fade" id="deleteCust" tabindex="-1" role="dialog" style="padding-right: 17px;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="card">
                        <div class="header">
                            <h4 class="modal-title" id="largeModalLabel">Eliminar Clientes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-col-blue-grey">
                                    <div class="panel-heading" role="tab" id="headingOne_1">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                                <i class="fa fa-address-card fa-2x" aria-hidden="true"></i>&nbsp;&nbsp; Eliminar - Cliente
                                            </a>
                                        </h4>
                                        <h3>Esta seguro que desea eliminar este cliente?</h3>
                                    </div>
                                    <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                        @using (Html.BeginForm("Delete", "CFD_Expanded", FormMethod.Post, new { role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="text-danger">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-sm-11">
                                                        <br />
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CUSTNAME, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CUSTNAME, new { htmlAttributes = new { @class = "form-control", id = "CUSTNAME_D" } })
                                                                @Html.ValidationMessageFor(model => model.CUSTNAME, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control", id = "RFC_D", maxlength = "15" } })
                                                                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CORP_CD, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CORP_CD, new { htmlAttributes = new { @class = "form-control", id = "CORP_CD_D", maxlength = "2" } })
                                                                @Html.ValidationMessageFor(model => model.CORP_CD, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CNTC_NO, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CNTC_NO, new { htmlAttributes = new { @class = "form-control", id = "CNTC_NO_D", maxlength = "4" } })
                                                                @Html.ValidationMessageFor(model => model.CNTC_NO, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ADDRESS1, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ADDRESS1, new { htmlAttributes = new { @class = "form-control", id = "ADDRESS1_D" } })
                                                                @Html.ValidationMessageFor(model => model.ADDRESS1, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ADDRESS2, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ADDRESS2, new { htmlAttributes = new { @class = "form-control", id = "ADDRESS2_D" } })
                                                                @Html.ValidationMessageFor(model => model.ADDRESS2, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ADDRESS3, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ADDRESS3, new { htmlAttributes = new { @class = "form-control", id = "ADDRESS3_D" } })
                                                                @Html.ValidationMessageFor(model => model.ADDRESS3, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CITY, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.CITY, new { htmlAttributes = new { @class = "form-control", id = "CITY_D" } })
                                                                @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.STATE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.STATE, new { htmlAttributes = new { @class = "form-control", id = "STATE_D" } })
                                                                @Html.ValidationMessageFor(model => model.STATE, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ZIP, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.ZIP, new { htmlAttributes = new { @class = "form-control", id = "ZIP_D" } })
                                                                @Html.ValidationMessageFor(model => model.ZIP, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.PAYMENT_METHOD_TYPE, htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-9">
                                                                @Html.EditorFor(model => model.PAYMENT_METHOD_TYPE, new { htmlAttributes = new { @class = "form-control", id = "PAYMENT_METHOD_TYPE_D" } })
                                                                @Html.ValidationMessageFor(model => model.PAYMENT_METHOD_TYPE, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Eliminar" class="btn bg-red" data-toggle="tooltip" data-placement="bottom" title="Eliminar el registro.." />
                                                <button type="button" class="btn btn-danger waves-effect m-r-20" data-toggle="tooltip" title="Cierra modal" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#POP UP DELETE-->
</div>

@section Scripts{
    @Scripts.Render("~/MaterialDesign/plugins/jquery-datatable/jquery.dataTables.pagination.js")
    @Scripts.Render("~/MaterialDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")
    @Scripts.Render("~/MaterialDesign/plugins/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/MaterialDesign/js/pages/ui/dialogs.js")
    @Scripts.Render("~/MaterialDesign/js/pages/ui/tooltips-popovers.js")
    @Scripts.Render("~/MaterialDesign/js/pages/ui/modals.js")
    @Scripts.Render("~/Scripts/Views/Catalogs/customers.js")
    <script type="text/javascript">
        $(function () {
            $('#grdProvider').DataTable();
            var message = '@ViewBag.Message';
            var warning = '@ViewBag.Warning';
            if (message.length > 0) {
                swal({
                    title: "Clientes!",
                    text: message,
                    type: "success",
                    closeOnCancel: false
                });
            }
            if (warning.length > 0) {
                swal({
                    title: "Clientes!",
                    text: warning,
                    type: "warning",
                    closeOnCancel: false
                });
            }

        });

        function IsNumber() {
            key = (document.all) ? event.keyCode : event.which;
            if (key === 8) { return true; }
            Rex = /[0-9]/;
            KeyFin = String.fromCharCode(key);
            return Rex.test(KeyFin);
        }
    </script>

}
