@model FleeteInvoicing.Models.CAT_PAYMENTMETHODTYPE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAT_PAYMENTMETHODTYPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paymentMethodTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentMethodTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentMethodDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentMethodDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.paymentMethodTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
